h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
}

.items-container {
    text-align: left;
}

.item-button {
    min-width: 80px;
}

.item-row {
    margin: 10px 5px;
}